<!-- chaque appareil représente un élément de la liste -->
<!-- la directive par attribut ngClass permet d'appliquer des class d'une manière dynamique à un objet du DOM (ici, des class bootstrap) -->
<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'allumé',
    'list-group-item-danger': appareilStatus === 'éteint'
  }"
>
  <!-- ce div existe uniquement quand l'appareil est éteint -->
  <div
    style="width: 20px; height: 20px; background-color: red"
    *ngIf="appareilStatus === 'éteint'"
  ></div>
  <!-- la directive par attribut ngStyle permet d'appliquer des styles d'une manière dynamique à un élément du DOM -->
  <!-- l'interpolation {{ ... }} fonctionne avec tout statement typescript valable -->
  <h4 [ngStyle]="{ color: getColor() }">
    Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}
  </h4>
  <!-- liaison TWO WAY BINDING - Essayer dans le DOM et dans appareil.component.ts -->
  <input type="text" class="form-control" [(ngModel)]="appareilName" />
  <!-- allumage individuel - affichage par *ngIf - application de event binding -->
  <button
    class="btn btn-success mt-2"
    (click)="onOnOne()"
    *ngIf="appareilStatus === 'éteint'"
  >
    Allumer
  </button>
  <!-- extinction individuelle - affichage par *ngIf - application de event binding -->
  <button
    class="btn btn-danger mt-2"
    (click)="onOffOne()"
    *ngIf="appareilStatus === 'allumé'"
  >
    Eteindre
  </button>
</li>
