<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>

      <!-- affichage de la date du dernier mis à jour (voir le résultat dans la page web) -->
      <!-- pipe simple -->
      <p>Mis à jour: {{ lastUpdate | date }}</p>
      <!-- pipe avec paramètres -->
      <p>Mis à jour: {{ lastUpdate | date : "EEEE d MMMM y" }}</p>
      <!-- pipe en chaîne. Essayer de passer uppercasePipe avant datePipe -->
      <!-- l'ordre des pipe est important -->
      <p>Mis à jour: {{ lastUpdate | date : "EEEE d MMMM y" | uppercase }}</p>

      <!-- liste des appareils -->
      <ul class="list-group">
        <!-- la directive structurel *ngFor permet d'afficher, par itération, des objets contenus dans un array -->
        <app-appareil
          *ngFor="let appareil of appareils"
          [appareilName]="appareil.name"
          [appareilStatus]="appareil.status"
        ></app-appareil>
      </ul>
      <!-- property binding, du code ts vers le DOM. On utilise des crochets-->
      <!-- event binding, du DOM vers le code ts. On utilise des parenthèses -->
      <button
        class="btn btn-success mt-3"
        [disabled]="!isAuth"
        (click)="onOnAll()"
      >
        Tout allumer
      </button>
    </div>
  </div>
</div>
